header{

}

.banner{
    position: relative;
}

.banner img{
    width: 100%;
}

.banner .welcome{
    background-color: orange;
    color: white;
    padding: 30px;
    border: 5px solid green;
    margin-left: 50px;
    position: absolute;
    left: 0;
    top: 30%;

}

.banner h2{
    font-size: 30px;
}





/* .banner h2 {
    font-size: 74px;
} */

/* .banner h2 span{ 
    font-size: 1.3em;
 } */













