body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
}
header {
    display: flex;
    flex-direction: column;
}





.is-required::after {
    content: '*';
    color: red;
    padding-left: 2px;
}