body {
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 100px;
}

h1 {
    display: none;
}

/* Smartphones */
@media screen and (max-width: 500px){
    body {
        background: red;
        color: white;
    }

#smartphone h1 {
    display: block;

}
}

/* Tablet */
@media screen and (min-width: 501px) and (max-width: 768px){
    body {
        background: blue;
        color: white;
    }

#tablet h1 {
    display: block;

}
}
